node_modules

/.cache
/build
/public/build
.env
.env.local
.env.development.local

.vercel

/api/index.js
/api/index.js.map
/app/styles/tailwind.css
/app/styles/styles.css

/api/src/certs
dist
dist-ssr